<ng-container class="">
  <div
    class="hero h-screen grid grid-cols-2 bg-gradient-to-b from-[#A2DDF8] to-[#fff]"
  >
    <div class="desc grid justify-center content-center p-16">
      <p class="text-5xl text-primary font-extrabold">Why Purely?</p>
      <p class="mt-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id possimus
        ullam nam? Aliquid, fuga quasi? Aliquam debitis fugit eveniet laboriosam
        labore, voluptatem corporis repellat tenetur? Magni ipsa aliquam odio
        quae.
      </p>
    </div>
    <div class="icon-about grid justify-center content-center">
      <img src="./../../../assets/img/icon-about.png" alt="" />
    </div>
  </div>
  <div class="grid">
    <div
      class="title grid grid-cols-1 justify-center content-center text-center"
    >
      <div class="sub-title">
        <p class="text-2xl font-bold mb-1">More than Puzzle</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,</p>
      </div>
    </div>
    <div class="grid md:grid-cols-2 mt-28 justify-center content-center">
      <div class="card-puzzle p-2 mt-5 flex flex-col items-center">
        <img
          src="./../../../assets/img/icon-book.png"
          class="w-28 mb-6"
          alt=""
        />
        <p class="text-2xl font-bold text-primary">Puzzle</p>
        <p class="text-center">Puzzle yang memuat tema kekayaan</p>
        <p class="text-center">alam dan budaya Indonesia.</p>
      </div>
      <div class="card-puzzle p-5 mt-5 flex flex-col items-center">
        <img
          src="./../../../assets/img/icon-cube.png"
          class="w-28 mb-6"
          alt=""
        />
        <p class="text-2xl font-bold text-primary">Augmented Reality</p>
        <p class="text-center">Tampilan AR yang dapat meningkatkan</p>
        <p class="text-center">minat belajar anak.</p>
      </div>
      <div class="card-puzzle p-5 mt-5 flex flex-col items-center">
        <img
          src="./../../../assets/img/icon-head.png"
          class="w-28 mb-6"
          alt=""
        />
        <p class="text-2xl font-bold text-primary">Fitur Quiz</p>
        <p class="text-center">Quiz yang dapat mengasah kemampuan</p>
        <p class="text-center">anak dalam memahami materi</p>
      </div>
      <div class="card-puzzle p-5 mt-5 flex flex-col items-center">
        <img
          src="./../../../assets/img/icon-video.png"
          class="w-28 mb-6"
          alt=""
        />
        <p class="text-2xl font-bold text-primary">Video Pembelajaran</p>
        <p class="text-center">Video pembelajaran yang memuat 2</p>
        <p class="text-center">
          bahasa yaitu Bahasa Indonesia dan Bahasa Inggris
        </p>
      </div>
    </div>
  </div>
  <div
    class="ourTeam mt-28 grid grid-rows-1 content-center justify-center bg-yellow-400"
  >
    <div class="grid grid-cols-1 md:grid-cols-3 p-5">
      <!-- Card 1 -->
      <div
        class="max-w-sm m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Lorem Ipsum
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="max-w-sm m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Lorem Ipsum
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="max-w-sm m-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="rounded-t-lg"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Lorem Ipsum
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer mt-24">
    <div class="logo-pubaru ms-5">
      <img src="./../../../assets/img/logo-pubaru.png" alt="" />
    </div>
    <div class="footer-menu grid grid-cols-3 p-10">
      <div class="">
        <p class="text-2xl font-bold">How to get Purely?</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          magni, labore dicta quia ipsa quibusdam officiis suscipit vero porro
          hic aut, nisi deserunt tempore reprehenderit enim eligendi aliquid
          modi iusto?
        </p>
      </div>
      <div class="">
        <p class="text-2xl font-bold">Our Sosial Media</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          magni, labore dicta quia ipsa quibusdam officiis suscipit vero porro
          hic aut, nisi deserunt tempore reprehenderit enim eligendi aliquid
          modi iusto?
        </p>
      </div>
      <div class="">
        <p class="text-2xl font-bold">Contact Us</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          magni, labore dicta quia ipsa quibusdam officiis suscipit vero porro
          hic aut, nisi deserunt tempore reprehenderit enim eligendi aliquid
          modi iusto?
        </p>
      </div>
    </div>
  </div>
</ng-container>
