<div class="grid md:grid-cols-2">
  <div class="img-hero grid justify-center">
    <img src="./../../../assets//img/hero.png" alt="" />
  </div>
  <div class="content-hero grid justify-center content-center text-center p-20">
    <p class="mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis perferendis
      ipsum amet aliquam sint doloribus, sed, aperiam eveniet recusandae
      inventore mollitia neque a? Itaque odio recusandae sunt officiis deserunt
      ipsa!
    </p>
    <button
      *ngIf="!dataLogin"
      (click)="showModal()"
      class="bg-primary text-white rounded-xl p-3 hover:bg-primary70"
    >
      MULAI QUIZ
    </button>
    <button
      *ngIf="dataLogin"
      (click)="startQuiz()"
      class="bg-primary text-white rounded-xl p-3 hover:bg-primary70"
    >
      MULAI QUIZ
    </button>
  </div>
</div>

<section class="relative">
  <img
    src="./../../../assets/img/cloud.png"
    alt=""
    class="absolute w-full md:top-10 top-28"
  />
</section>

<section
  class="bg-gradient-to-b from-[#A2DDF8] to-[#fff] bg-no-repeat bg-cover mt-36 md:mt-48"
>
  <div class="grid md:grid-cols-2 hero-2">
    <div class="desc-2 grid justify-center content-center text-end p-20">
      <h1 class="text-5xl text-primary font-extrabold">Purely</h1>
      <p class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
        dignissimos ducimus ratione laboriosam, atque in hic vitae? Velit
        sapiente tempore aliquid, fugit dignissimos necessitatibus repellendus
        autem officia quaerat veniam suscipit! Laborum voluptate ab ipsum nisi
        voluptatum minima quibusdam autem culpa atque.
      </p>
    </div>
    <div class="img-2 grid justify-center">
      <img src="./../../../assets/img/puzzle.png" alt="" />
    </div>
  </div>
  <div class="hero-3 grid grid-cols-1 md:grid-cols-2 md:mt-40">
    <div class="video-bromo grid justify-center content-center">
      <iframe
        class="w-[20em] h-[10em] md:w-[40em] md:h-[20em] rounded-3xl"
        src="https://www.youtube.com/embed/_6gq0XrHOOg"
        title="Gunung Bromo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="desc-3 grid justify-center content-center text-start p-20">
      <h1 class="text-5xl text-accent font-extrabold">Video Pembelajaran</h1>
      <p class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro illum
        velit nobis saepe culpa at explicabo ipsam voluptatem distinctio
        deleniti nihil earum, dicta numquam beatae rerum recusandae autem vero
        debitis? Officiis recusandae odit voluptatum commodi quidem dolorum
        suscipit sequi expedita neque quo, laborum earum hic praesentium, libero
        omnis, in cumque iste ducimus. Quisquam natus obcaecati expedita cumque,
        necessitatibus consectetur aliquid.
      </p>
    </div>
  </div>
</section>
<section class="ar bg-gradient-to-b from-[#fff] to-[#A2DDF8] md:mt-56">
  <div class="ar grid grid-cols-1 md:grid-cols-2">
    <div class="desc-4 grid justify-center content-center text-end p-20">
      <h1 class="text-5xl text-accent font-extrabold">Our Augmented Reality</h1>
      <p class="mt-5">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet quam
        voluptatibus asperiores nulla minus cumque, praesentium quae, temporibus
        atque culpa ipsa. Accusantium inventore accusamus nisi perferendis
        nostrum harum facilis nemo. Cumque fugit doloremque vero facilis ipsa!
        Expedita temporibus eius ipsam amet eos, vitae odio repudiandae debitis!
        Amet iste quasi aliquid sequi error nobis eligendi quis cupiditate, quia
        delectus excepturi quaerat.
      </p>
    </div>
    <div class="img-about grid grid-cols-1 justify-center content-center">
      <img src="./../../../assets/img/mockup-ar.png" alt="" />
    </div>
  </div>
</section>
